name: ⚠️ Auto release

on:
  workflow_dispatch:
    inputs:
      mode:
        type: choice
        description: Bump version as requested
        required: false
        default: minor
        options:
          - patch
          - minor
          - major
  schedule:
    - cron: '0 7 * * 1'

jobs:
  run-release:
    name: Release
    if: "!contains(github.event.head_commit.message, 'chore(release)')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: taiga-family/ci/actions/run/release-it@main
        with:
          mode: ${{ github.event.inputs.mode || 'minor' }}
          githubToken: ${{ secrets.TAIGA_FAMILY_BOT_PAT }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
